{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
      "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
      "eol-last": ["error", "always"]
    }
  }
